.logout{
    position: absolute;
    right: 5rem;
    top: 5rem;
    padding: .5rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background: var(--color-dark--0);
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 600;

    &-profile {
        height: 4rem;
        aspect-ratio: 1;

        img{
            height: 100%;
            border-radius: 100%;
        }
    }
}