.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--color-light--3);

  &Img {
    display: inline-block;
    height: 5rem;
    width: 5em;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &Label {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.6;
    cursor: pointer;
  }
}
